*{  
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-tittle{  
font-weight:800;
font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    color: #ffffff;
    border: 0;
    padding: 18px 35px;
    font-weight: 700px;
    font-size: 20px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}
.banner{
     display: flex;
     align-items: center;
     margin: 0px 200px;
}
.banner-tittle{
    font-weight:700px ;
    font-size: 65px;
    margin-bottom: 20px;
}
.banner-sub-tittle{
    font-weight:600px ;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
   